{% extends 'safe/base.html' %}

{% block content %}
<h2>
    <legend>update details </legend>
</h2>
<form action="{% url 'update-details' item.id %}" , method="POST">
    {% csrf_token %}
    <label for="site_name">Website Name</label>
    <input type="text" name="site_name" value="{{item.site_name}}">
    <label for="">Username</label>
    <input type="text" name="user_name" value="{{item.username}}">
    <label for="">Password</label>
    <input type="text" name="password" value="{{item.password}}">
    <input type="submit" value="update">
    <!-- <button><a href="{% url 'update-details' item.id %}">update</a></button> -->
</form>
{% endblock content %}