{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="width: 50%; height:30%; margin-left:20px;">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Register Now</legend>
            {{form|crispy }}
        </fieldset>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>
<div style="margin-left:20px;">
    <small>Already have an Account? <a href="{% url 'login'%}" style="color: blue;">Sign In</a></small>
</div>
{%endblock content %}